@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.orelega-one-regular {
	font-family: "Orelega One", serif;
	font-weight: 400;
	font-style: normal;
}
  

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #ffffff;
	font-family: "Orelega One", serif;
	font-weight: 400;
	font-style: normal;
}

/* Regole Generiche */

#home {
	background-color: white;
	border: none;
}

header {
	background-color: #ffc107;
	margin-bottom: 32px;
	padding: 8px 16px;
	border-radius: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

header h1{
	font-family: 'Instrument Sans', sans-serif;

}

h1 {
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
}

img {
	width: 32px;
	height: 32px;
}

button {
	width: 100%;
    font-size: 25px;
    font-weight: 900;
    padding: 8px 16px;
    background-color: #ffc107;
    border: 2px solid #ffc107;
    border-radius: 15px;
    cursor: pointer;
	font-family: 'Instrument Sans', sans-serif;
}

.secondary-button {
	width: auto;
	background-color: transparent;
}

/* Campi */

.field {
	margin-bottom: 32px;
}
.field ul{
	background: #ffffff30;
    border-radius: 10px;
}
.field ul li{
	display: flex; flex-direction: column;
}
.field ul li p{
	font-size: 13px;
}
.field input {
	background: white;
    border-radius: 10px;
    padding: 10px;
    color: #9b2046;
}

label {
	display: block;
	font-size: 32px;
	font-weight: 500;
	margin-bottom: 16px;
}

input {
	border: none;
	border-bottom: 2px solid #6f1b36;
	width: 100%;
	font-size: 20px;
	font-weight: 500;
	color: #f87cd1;
	padding-bottom: 10px;
	background-color: transparent;
}

input:focus {
	outline: none;
	color: #6f1b36;
}

.container {
	margin: 50px auto;
	padding: 16px;
	max-width: 400px;
	background-color: #ac6b7d;
	border-radius: 15px;
}

/* Emojis */

.emoji-list {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	justify-content: center;
}

.emoji {
	font-size: 40px;
	height: 84px;
	width: 84px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	cursor: pointer;
}

.selected,
.emoji:hover {
	background-color: #ffc107;
}

/* REGOLE DI VISIBILITA' */

.result-screen,
.loading-screen,
.building-screen {
	display: none;
}

.result > .result-screen,
.loading > .loading-screen,
.building > .building-screen {
	display: block;
}

/* Loading Screen */

.loading-screen > img {
	width: 150px;
	height: 150px;
	margin: 150px auto;
	display: block;
}

/* Result Screen */
.story {
	margin-bottom: 32px;
}

.story-title {
	font-size: 40px;
	font-weight: 500;
}

.story-text {
	font-size: 22px;
	font-weight: 400;
	line-height: 32px;
}

.result-buttons {
	display: flex;
	gap: 16px;
}
